altgraph==0.17
cffi==1.14.0
cycler==0.10.0
future==0.18.2
gevent==20.5.1
greenlet==0.4.15
joblib==0.14.1
kiwisolver==1.1.0
modbus-tk==1.1.0
numpy==1.18.1
opencv-python==4.2.0.32
pefile==2019.4.18
pycparser==2.20
PyInstaller==4.0.dev0+f877f3eb8a
pyparsing==2.4.7
PyQt5==5.13.0
PyQt5-sip==12.7.1
pyqt5-tools==5.13.0.1.5
pyserial==3.4
python-dateutil==2.8.1
pywin32-ctypes==0.2.0
six==1.14.0
zope.event==4.4
zope.interface==5.1.0
